*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #ffe6a7;
}

body{
    font-family: sans-serif;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-areas: 
    "nav"
    "section1"
    "main"
    "section2"
    "footer" ;
    grid-template-columns: auto;
    grid-template-rows: 15vh 10vh auto;
    background-color: #ffe6a7;
}

nav{
    grid-area: nav;
    background-color: #432818;
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo{
    height: 90%;
}

ul{
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: #ffe6a7;
    text-transform: uppercase;
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
}

.section1{
    grid-area: section1;
    color: #ffe6a7;
}

.section-img{
    width: 100%;
    height: 100%;
    background-image: url(../asset/images/granos.jpg);
    background-size: cover;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #99582a;
    padding: 10px;
    align-items: center;
}

.productos{
    height: 300px;
    width: 300px;
    background-color: aqua;
    margin-bottom: 10px;
    background-size: cover;
}

.producto1{
    background-image: url("../asset/images/taza.jpg");
}

.producto2{
    background-image: url("../asset/images/batidos.jpg");
}

.producto3{
    background-image: url("../asset/images/batido.jpg");
}

.producto4{
    background-image: url("../asset/images/preparacion.jpg");
}

p{
    font-size: 25px;
}

.section2{
    grid-area: section2;
    text-align: center;
}

.sucursales{
    width: 100%;
    height: 30vh;
    background-size: 100%;
    background-position: center;
    margin-bottom: 10px;
}

.sucursal1{
    background-image: url("../asset/images/sucursal1.jpg");
}

.sucursal2{
    background-image: url("../asset/images/sucursal2.jpg");
}


footer{
    grid-area: footer;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.redondeo{
    border-radius: 10px;
}

.filtro{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#000, transparent);
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffe6a7;
    transition: display 0.5s ease;
}

.filtro:hover{
    display: none;
}

h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.iconos{
    font-size: 20px;
    color: #432818;
}



@media screen and (min-width: 600px) {
    body{
        max-width: 900px;
        margin: auto;
        margin-top: 10px;
        background-color: #bb9457;
        grid-template-areas:
        "nav section1"
        "main main"
        "section2 section2"
        "footer footer";
        grid-template-columns: 20% auto;
        grid-template-rows: 40vh auto auto;
    }

    nav{
        flex-direction: column;
        justify-content: start;
        padding-top: 20px;

    }

    .logo{
        width: 80%;
        height: auto;
    }

    ul{
        flex-direction: column;
        height: 40%;
        width: 100%;
        align-items: center;
    }

    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .productos{
        height: 300px;
        width: 300px;
    }
}